In [ ]:
"""
author: Vetivert? üíê 
created: 13/03/2025 @ 12:46:33
"""

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from prefix_path import full_data_path, redundant_cols

In [ ]:
# Load dataset
df = pd.read_csv(full_data_path, sep=";", header=3) #separator is ;

# Drop redundant cols + rows
df.drop([224, 225, 226]) #indexes of 2019 data

  ID BN  STT           Full name Age Diagnosis Gende Blood group  \
0      2   1       TR·∫¶N DUY CH√ÄO  46         2     1         NaN
1      3   2    NGUY·ªÑN VI·∫æT XU√ÇN  35         1     1         NaN
2      4   3  B√ôI TH·ªä THANH DUNG  25         1     0         NaN
3      5   4           C·ª® A T·ªàNH  20         2     1           B
4      6   5    NGUY·ªÑN VƒÇN QU√ÇN   31         1     1           O

               Ward             District Hospitalization day  ...  \
0               NaN  Thanh Tr√¨ - H√† N·ªôi             30/10/17  ...
1           Ph√∫c La    H√† ƒê√¥ng - H√† N·ªôi             30/10/17  ...
2               NaN    H√† ƒê√¥ng - H√† N·ªôi             30/10/17  ...
3  H·ªçc vi·ªán an ninh  Thanh Xu√¢n - H√† N·ªôi            31/10/17  ...
4         L∆∞∆°ng ƒê√¥    Thanh Ba - Ph√∫ Th·ªç            22/10/17  ...

  Unnamed: 511 Unnamed: 512 Unnamed: 513 Unnamed: 514 Unnamed: 515  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 516 Unnamed: 517 Unnamed: 518 Unnamed: 519 Unnamed: 520
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

[5 rows x 521 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Columns: 521 entries, ID BN  to Unnamed: 520
dtypes: float64(186), object(335)
memory usage: 1.6+ MB
None

In [ ]:
df.drop(redundant_cols, axis=1)

,Full name,Age,Diagnosis,Gende,Blood group,Ward,District,Hospitalization day,Discharge day,Patient No,...,Unnamed: 511,Unnamed: 512,Unnamed: 513,Unnamed: 514,Unnamed: 515,Unnamed: 516,Unnamed: 517,Unnamed: 518,Unnamed: 519,Unnamed: 520
0,TR·∫¶N DUY CH√ÄO,46,2,1,NaN,NaN,Thanh Tr√¨ - H√† N·ªôi,30/10/17,3/11/17,4280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NGUY·ªÑN VI·∫æT XU√ÇN,35,1,1,NaN,Ph√∫c La,H√† ƒê√¥ng - H√† N·ªôi,30/10/17,11/7/17,Q542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B√ôI TH·ªä THANH DUNG,25,1,0,NaN,NaN,H√† ƒê√¥ng - H√† N·ªôi,30/10/17,7/11/17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C·ª® A T·ªàNH,20,2,1,B,H·ªçc vi·ªán an ninh,Thanh Xu√¢n - H√† N·ªôi,31/10/17,11/7/17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NGUY·ªÑN VƒÇN QU√ÇN,31,1,1,O,L∆∞∆°ng ƒê√¥,Thanh Ba - Ph√∫ Th·ªç,22/10/17,26/10/17,4055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,Ph√πng Th·ªã L≈©y,37,2,0,O,NGUY·ªÑN TR√ÉI,"TH∆Ø·ªúNG T√çN, H√Ä N·ªòI",15/12/19,20/12/19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,Tri·ªáu Th·ªã H·∫£i,37,2,0,NaN,C·∫®M S∆†N,"C·∫®M TH·ª¶Y, THANH H√ìA",16/12/19,20/12/19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,B√πi Vi·∫øt Tu·∫•n,19,1,1,O,TH√ÅI S∆†N,"AN L√ÉO, H·∫¢I PH√íNG",28/8/19,09/04/2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,ƒê·ªó M·∫°nh Th·∫Øng,44,2,1,NaN,"VƒÇN QU√ÅN, H√Ä ƒê√îNG",H√Ä N·ªòI,17/10/19,22/10/19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,B√πi VƒÉn Chung,17,3,1,O,"B·∫ÆC S∆†N, KIM B√îI",H√íA B√åNH,18/8/19,27/8/19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN