In [88]:
"""
author: Vetivert? 💐 
created: 13/03/2025 @ 12:46:33
"""

import numpy as np # type: ignore
import matplotlib.pyplot as plt # type: ignore
import pandas as pd # type: ignore
from sklearn.model_selection import train_test_split # type: ignore
# from sklearn.preprocessing import StandardScaler # type: ignore

from prefix_path import full_data_path, redundant_cols, missing_2017, hematoma_cols, bleeding_cols, additional_diseases, fillna_values

ImportError: cannot import name 'additional_diseases' from 'prefix_path' (/home/smivys/Sorbonne/108/m2_internship/src/prefix_path.py)

In [89]:
# Load dataset
df = pd.read_csv(full_data_path, sep=";", header=3) #separator is ;
# df = df.apply(pd.to_numeric, errors='coerce')

# Drop redundant cols + rows
df.drop([224, 225, 226]) #indexes of 2019 data 
df.drop(redundant_cols, axis=1, inplace=True)
df.drop(missing_2017, axis=1, inplace=True)

df = df.fillna(fillna_values) #df[1] = df[1].fillna(0)
df['Other'] = pd.to_numeric(df['Other'], errors='coerce').fillna(1) #addtional diseases

# hematoma group
hema = df[hematoma_cols]
hema = hema.assign(stacked=hema.astype(str).agg(''.join, axis=1))
hema
hema['stacked'] = (pd.to_numeric(hema['stacked'], errors='coerce'))
hema['stacked_int'] = np.where(hema['stacked'] >= 0, 1, 0)

df.insert(df.columns.get_loc(hematoma_cols[0]), 'hematoma', hema['stacked_int']) #get col index by its name
df.drop(hematoma_cols, axis=1, inplace=True)

# bleeding group
bleed = df[bleeding_cols]
bleed = bleed.assign(stacked=bleed.astype(str).agg(''.join, axis=1))
bleed['stacked'] = (pd.to_numeric(bleed['stacked'], errors='coerce'))
bleed['stacked_int'] = np.where(bleed['stacked'] >= 0, 1, 0)

df.insert(df.columns.get_loc(bleeding_cols[0]), 'bleeding', bleed['stacked_int'])
df.drop(bleeding_cols, axis=1, inplace=True)

# additional diseases group
add_diseases = df[additional_diseases]
add_diseases = add_diseases.assign(stacked=add_diseases.astype(str).agg(''.join, axis=1))
add_diseases['stacked'] = (pd.to_numeric(add_diseases['stacked'], errors='coerce'))
add_diseases['stacked_int'] = np.where(add_diseases['stacked'] >= 0, 1, 0)

df.insert(df.columns.get_loc(additional_diseases[0]), 'additional_diseases', add_diseases['stacked_int'])

NameError: name 'additional_diseases' is not defined

In [82]:
#MR. TEST
df

,Age,Diagnosis,Gende,Blood group,DHF infection His.,Diabetes,HBP,Hepatitis,Gastritis,pregnancy,...,Unnamed: 511,Unnamed: 512,Unnamed: 513,Unnamed: 514,Unnamed: 515,Unnamed: 516,Unnamed: 517,Unnamed: 518,Unnamed: 519,Unnamed: 520
0,46,2,1,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35,1,1,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,1,0,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,2,1,B,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31,1,1,O,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,37,2,0,O,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,37,2,0,NaN,0,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,19,1,1,O,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,44,2,1,NaN,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,17,3,1,O,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN